RewriteEngine on

RewriteRule ^home\.html$ home.php?module=home [L]
RewriteRule ^users\.html$ home.php?module=users [L]
RewriteRule ^users-add\.html$ home.php?module=usersadd [L]
RewriteRule ^users-edit-(.*)\.html$ home.php?module=usersedit&id=$1 [L]
RewriteRule ^menu\.html$ home.php?module=menu [L]
RewriteRule ^menu-add\.html$ home.php?module=menuadd [L]
RewriteRule ^menu-edit-(.*)\.html$ home.php?module=menuedit&id=$1 [L]
RewriteRule ^factory\.html$ home.php?module=pabrik [L]
RewriteRule ^factory-add\.html$ home.php?module=pabrikadd [L]
RewriteRule ^factory-edit-(.*)\.html$ home.php?module=pabrikedit&id=$1 [L]
RewriteRule ^voyage\.html$ home.php?module=voyage [L]
RewriteRule ^voyage-add\.html$ home.php?module=voyageadd [L]
RewriteRule ^voyage-edit-(.*)\.html$ home.php?module=voyageedit&id=$1 [L]
RewriteRule ^level\.html$ home.php?module=level [L]
RewriteRule ^level-add\.html$ home.php?module=leveladd [L]
RewriteRule ^level-edit-(.*)\.html$ home.php?module=leveledit&id=$1 [L]
RewriteRule ^notif\.html$ home.php?module=notif [L]
RewriteRule ^notif-add\.html$ home.php?module=notifadd [L]
RewriteRule ^tengine\.html$ home.php?module=tengine [L]
RewriteRule ^tengine-add\.html$ home.php?module=tengineadd [L]
RewriteRule ^tengine-edit-(.*)\.html$ home.php?module=tengineedit&id=$1 [L]
RewriteRule ^engine\.html$ home.php?module=engine [L]
RewriteRule ^engine-add\.html$ home.php?module=engineadd [L]
RewriteRule ^engine-edit-(.*)\.html$ home.php?module=engineedit&id=$1 [L]
RewriteRule ^engine-detail-(.*)\.html$ home.php?module=enginedetail&id=$1 [L]
RewriteRule ^maintenance-add-(.*)\.html$ home.php?module=maintenanceadd&id=$1 [L]
RewriteRule ^ubahpass(.*)\.html$ home.php?module=editpass&id=$1 [L]
RewriteRule ^enginerun\.html$ home.php?module=enginerun [L]
RewriteRule ^enginerun-add\.html$ home.php?module=enginerunadd [L]
RewriteRule ^enginerun-edit-(.*)\.html$ home.php?module=enginerunedit&id=$1 [L]
RewriteRule ^enginerun-hour-(.*)\.html$ home.php?module=enginerunhour&id=$1 [L]
RewriteRule ^enginerun-detail-(.*)\.html$ home.php?module=enginerundetail&id=$1 [L]
RewriteRule ^componen\.html$ home.php?module=komponen [L]
RewriteRule ^componen-add\.html$ home.php?module=komponenadd [L]
RewriteRule ^componen-edit-(.*)\.html$ home.php?module=komponenedit&id=$1 [L]
RewriteRule ^bl\.asp$ home.php?module=bl [L]
RewriteRule ^sparepart\.html$ home.php?module=sparepart [L]
RewriteRule ^spare-add\.html$ home.php?module=sparepartadd [L]
RewriteRule ^spare-edit-(.*)\.html$ home.php?module=sparepartedit&id=$1 [L]
RewriteRule ^spare-det-(.*)\.html$ home.php?module=sparedetail&id=$1 [L]
RewriteRule ^reportrh\.html$ home.php?module=reportrunhour [L]
RewriteRule ^reportm\.html$ home.php?module=reportm [L]
RewriteRule ^helpmain\.html$ home.php?module=helpmain [L]
RewriteRule ^helpmain-add-(.*)\.html$ home.php?module=helpmainadd&id=$1 [L]
RewriteRule ^halkategori-([0-9]+)-(.*)\.html$ home.php?module=detailkategori&id=$1&halkategori=$2 [L]
RewriteRule ^buku-tamu\.html$ home.php?module=bukutamu&id=$1 [L]
RewriteRule ^login\.html$ home.php?module=login&id=$1 [L]


Options All -Indexes
